body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
	margin: auto;
  margin-top: 1em;
  width: 95%;
}

.ResultsPage {
	text-align: center;
	display: inline-block;
	height: 444px;
}

.SkillsList {
	display: inline-block;
}

.jobResult {
	margin-bottom: 10px;
}

.JobResults {
	display: inline-block;
	text-align: left;
	overflow: scroll;
	height: inherit;
	width: 70%;
	margin-left: 20px;
}

.Results {
	cursor: pointer;
}

.toggle-selected {
	background-color: green;
}
