body {
  margin: 0;
  padding: 0;
  font-family: sans-serif, 'roboto';
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li:hover {
	text-decoration: underline;
}

.show {
	background-color: green;
}

.Result-Link:hover {
	text-decoration: underline;
}
/*Landing Page*/
.SearchBar-Container {
	border: solid black 1px;
	max-width: 580px;
	height: 490px;
	margin: 0px auto;
	padding: 26px;
}

.Title {
	text-align: center;
	font-size: 32px;
}

.logo-container {
  margin: 0px auto;
  max-width: 580px;
}

.StackOverFlow-Logo {
	width: 150px;
  margin: 0px auto;
  float: right;
}

.Landing-Div{
	height: 135px;
}

.Search-Header {
	font-size: 16px;
	margin: 2px;
}

.Search-Input {
	width: 100%;
	height: 40px;
	border-radius: 5px;
	border: 1px solid black;
	margin: 0px auto;
	padding: 8px;
	font-size: 18px;
}

.Search-Button {
  display: block;
  margin: 0px auto;
  height: 40px;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 20px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
}

.App-Description {
	margin-bottom: 8px;
	line-height: 26px;
}

.App-Description-Line {
	margin-left: 12px;
	font-size: 16px;
}
/*Do you have these skills?*/
.Category-Container {
	margin: 0px auto;
	max-width: 190px;
	text-align: left;
}

.Category-Item {
	margin-bottom: 5px;
	line-height: 10px;
	margin-bottom: 9px;
}

.Category-Results {
	display: inline-block;
	cursor: pointer;
	margin-left: 8px;
	margin-bottom: 10px;
	font-size: 16px;
}

.Category-List {
	margin-bottom: 30px;
}

.Skills-Button {
  display: inline-block;
  margin: 0px auto;
  height: 40px;
  width: 50%;
  margin-top: -10px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
}

.App {
	margin: auto;
  margin-top: 1em;
  width: 95%;
  height: 95%;
}
/*Display Results*/
.Showresults{
	margin: 0px auto;
	max-width: 1000px;
}

.ResultsPage-Div{
	height: 0px;
	max-width: 1000px;
}
.ResultsPage {
	text-align: center;
	height: 490px;
	margin: 0px auto;
}

.SkillsList {
	display: inline-block;
}

.Result-Skills {
	cursor: pointer;
	text-align: left;
	padding-left: 8px;
	margin-left: 22px;
	border-radius: 4px;
}

.NotAdded {
	background-color: #ff4433;
	color: white;
}
.Added {
	background-color: #339933;
	color: white;
}

.Resulted-Categories {
	width: 174px;
	height: 21px;
	line-height: 12px;
}

.Required-Skills {
	margin-bottom: 2px;
}

.Percentage-Match {
	margin-bottom: 6px;
}

.icon {
	float: left;
	vertical-align: middle;
	line-height: 2px;
}

.JobResults-Header{
	text-align: center;
}

.JobResults {
	display: inline-block;
	text-align: left;
	height: inherit;
	width: 100%;
}

.jobResult {
	margin-bottom: 10px;
	border: 1px solid #E0E0E0;
	background-color: #F8F8F8;
	border-radius: 5px;
	padding: 0px 8px;
}

.Restart-Button {
	display: block;
	margin: 0px auto;
	height: 40px;
  width: 25%;
  margin-top: 30px;
  margin-bottom: 20px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
}

.toggle-selected {
	background-color: green;
}

@media only screen and (min-width: 640px) {

	.Landing-Div	{
		height: 160px;
	}

	.SearchBar-Container {
	height: 460px;
	}

	.ResultsPage-Div{
	height: 70px;
	max-width: 1000px;
	}

	.JobResults {
	overflow: scroll;
	width: 70%;
	margin-left: 25px;
	}
	.jobResult {
	margin-right: 25px;
	}
}