body {
  margin: 0;
  padding: 8px;
  font-family: sans-serif, 'roboto';
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li:hover {
	text-decoration: underline;
}

.show {
	background-color: green;
}

.Result-Link:hover {
	text-decoration: underline;
}
/*header*/
.Header {
	width: 100%;
    background-color: #18121e;
    border-bottom: 1px solid #b8b2be;
    color: white;
    padding: 8px 18px;
    display: inline-block;
}

.Amp-Title {
	display: inline-block;
	float: left;
	padding: 0;
	margin: 0;
  cursor: pointer;
}

.Header-Section {
	float: right;
	display: inline-block;
	line-height: 0px;
}

/*Landing Page*/
.SearchBar-Container {
	max-width: 580px;
	height: 110px;
	margin: 12px auto;
	padding: 12px;
}
.Header-Wrap {
  display: inline-block;
}

.Loading-Bubble {
    height: 38px;
    width: 38px;
    color: #00FFFF;
    display: inline-block;
}

.Search-Header {
	font-size: 16px;
	margin: 10px;
  display: inline-block;
}

.Search-Input {
	width: 64%;
	height: 40px;
	border-radius: 5px;
	border: 1px solid black;
	margin: 0px 8px;
	padding: 8px;
	font-size: 18px;
  cursor: auto;
	display: inline-block;
}

.Search-Button {
	display: block;
	margin: 0px auto;
	height: 40px;
	width: 100px;
	border-radius: 5px;
	font-size: 20px;
	font-weight: bold;
	display: inline-block;
}

.App-Description {
	margin-bottom: 8px;
	line-height: 26px;
	max-width: 1342px;
	padding: 8px 16px;
	margin: 0 auto;
}

.App-Description-Line {
	margin-left: 12px;
	font-size: 16px;
}

.Assess {
  margin-left: 23px;
}

.home-learn {
	padding: 8px 0;
	margin: 25px auto;
	overflow: hidden;
	max-width: 1342px;
}

.learn-title-wrapper {
	text-align: center;
	font-size: 22px;
	font-weight: bold;
	padding: 0px 16px;
}

.learn-sector {
	max-width: 550px;
	margin: 0 auto;
}

/*Do you have these skills?*/
.Category-Container {
	margin: 0px auto;
	max-width: 190px;
	text-align: left;
}

.Category-Item {
	margin-bottom: 5px;
	line-height: 10px;
	margin-bottom: 9px;
}

.Category-Results {
	display: inline-block;
	cursor: pointer;
	margin-left: 8px;
	margin-bottom: 10px;
	font-size: 16px;
}

.Category-List {
	margin-bottom: 30px;
}

.Skills-Button {
  display: block;
  margin: 0px auto;
  height: 40px;
  width: 50%;
  margin-top: -10px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
}

/*Display Results*/
.Showresults{
	margin: 0px auto;
	max-width: 960px;
}

.ResultsPage {
	max-width: 820px;
	text-align: center;
	position: relative;
}

.SkillsList {
	display: inline-block;
}

.Skills-Container {
	display: inline-block;
}

.Result-Skills {
	cursor: pointer;
    text-align: left;
    padding: 2px;
    padding-left: 8px;
    margin-left: 22px;
    border-radius: 4px;
    height: 18px;
}

.NotAdded {
	background-color: #ff4433;
	color: white;
}
.Added {
	background-color: #339933;
	color: white;
}

.Resulted-Categories {
  width: 182px;
  height: 22px;
  line-height: 12px;
}

.Required-Skills {
	margin-bottom: 2px;
}

.Percentage-Match {
	margin-bottom: 6px;
}

.icon {
	float: left;
	vertical-align: middle;
	line-height: 2px;
}

.JobResults-Header{
	text-align: center;
}

.JobResults {
	display: inline-block;
	text-align: left;
	width: 90%;
}

.Search-Directions {
  font-size: 16px;
  margin-top: 6px;
  margin-bottom: 18px;
  text-align: center;
}

.jobResult {
	margin-bottom: 10px;
	border: 1px solid #E0E0E0;
	background-color: #F8F8F8;
	border-radius: 5px;
	padding: 0px 8px;
}
.ResultsPage-Header {
  display: inline-block;
  font-size: 26px;
  padding-left: 25px;
}

.red-skill {
  color: #ff4433;
}

.green-skill {
  color: #339933;
}

/*ContactMessage*/

.contact-container {
  max-width: 550px;
  margin: 0px auto;
  font-size: 16px;
  text-align: center;
  margin-top: 30px;
}

/*footer*/
.footer-link {
	color: black;
}

footer {
	margin-top: 25px;
	text-align: center;
}

.contacts-wrapper {
	margin: 0 auto;
	max-width: 240px;
	margin-top: 30px;
}

.contact-logo{
	display: inline-block;
	width: 31%;
	margin: 0 auto;
	text-align: center;
}

.error-handle {
	font-size: 22px;
}

@media only screen and (min-width: 640px) {

	.Landing-Div	{
		height: 160px;
	}

  .Search-Input {
  	width: 78%;
  }

	.JobResults {
 	 width: 75%;
  	float: right;
  	}

	.SkillsList {
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	}

	.Skills-Container {
	display: inline;
	}
}
